.user li {
  padding: 5px;
  border-radius: 27px;
  background: #b1ffff;
  color: white;
  margin: 2px 0;
  width: 100%;
  text-align: center;
}

.userInfo:hover ul.user {
  display: block;
}

ul.user {
  width: 175px;
  background: #324965;
  display: inline-flex;
  padding: 15px;
  border-radius: 48px 0;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 52px;
  transform: translate(37%, 2%);
  right: 179px;
}

.user li {
  padding: 5px;
  border-radius: 27px;
  background: #b1ffff;
  color: white;
  margin: 2px 0;
  width: 100%;
  text-align: center;
}
